<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>

    <nav th:replace="~{base :: menu}"></nav>

    <div class="container">
        <div th:replace="~{base :: titulo('Login')}"></div>

        <div class="card">
            <div class="card-body">
                <form th:action="@{/login}" class="mb-0" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Username</span>
                        </div>
                        <input name="username" type="text" class="form-control">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Senha</span>
                        </div>
                        <input name="password" type="password" class="form-control">
                    </div>
                    <div class="text-danger" th:if="${param.error}">Senha e/ou username estão incorretos</div>

                    <button type="submit" class="btn btn-success mt-2">Login</button>
                    <span>Sem registro? <a th:href="@{/registrar}">Registre-se</a></span>
                </form>
            </div>
        </div>
    </div>
</body>
</html>